{{> head}}
{{> navbar}}
<div class="row">
    <div class="col-8">
        <h1>Marcelo</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloribus obcaecati praesentium harum illum, molestiae ratione eum quas, explicabo atque, voluptatem maxime laborum. Maiores dignissimos maxime, voluptatem modi tenetur laudantium magni.</p>
    </div>
    <div class="col-4">
        <img src="/public/assets/img/Marcelo.jpg" class="img-thumbnail"/>
    </div>
</div>

{{> footer}}